@model Domain.Entities.CompanyInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompanyInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntroVideoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntroVideoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntroImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntroImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
