@model Domain.Entities.ContactUs

<div class="row custom-form-container">
    <div class="col-12">
        <div class="content-header">هل انت متأكد من الحذف؟</div>
    </div>
</div>

<section>
    <div class="row match-height custom-form-container">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                الاسم
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                البريد الابكترونى
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-2">
                                الهاتف
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Phone)
                            </dd>                           
                            <dt class="col-sm-2">
                                الموضوع
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Subject)
                            </dd>
                            <dt class="col-sm-2">
                                الرسالة
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Message)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-danger mr-2"><i class="fa fa-trash mr-1"></i>حذف</button>
                                <a asp-action="Index" class="btn btn-secondary"><i class="ft-x mr-1"></i>الرجوع</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
